@CHARSET "UTF-8";


@font-face {font-family: "i";
  src: url('//at.alicdn.com/t/font_zpgki2jzfnm9ggb9.eot?t=1487217191059'); /* IE9*/
  src: url('//at.alicdn.com/t/font_zpgki2jzfnm9ggb9.eot?t=1487217191059#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_zpgki2jzfnm9ggb9.woff?t=1487217191059') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_zpgki2jzfnm9ggb9.ttf?t=1487217191059') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_zpgki2jzfnm9ggb9.svg?t=1487217191059#i') format('svg'); /* iOS 4.1- */
}

.i {
  font-family:"i" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-shezhi:before { content: "\e617"; }

.i-back1:before { content: "\e622"; }

.i-zhexian:before { content: "\e698"; }

.i-back:before { content: "\e64c"; }

.i-close:before { content: "\e60e"; }

.i-room1:before { content: "\e6a7"; }

.i-from-pass:before { content: "\e602"; }

.i-from-money:before { content: "\e609"; }

.i-from-bi:before { content: "\e604"; }

.i-from-zhu:before { content: "\e665"; }

.i-qun:before { content: "\e626"; }

.i-from-xuanze:before { content: "\e694"; }

.i-rmb:before { content: "\e627"; }

.i-meihua:before { content: "\e76a"; }

.i-from-hongbao:before { content: "\e66b"; }

.i-jia:before { content: "\e727"; }

.i-gou-on:before { content: "\e73c"; }

.i-gou:before { content: "\e73d"; }

.i-msg-on:before { content: "\e743"; }

.i-msg:before { content: "\e744"; }

.i-home-on:before { content: "\e750"; }

.i-home:before { content: "\e751"; }

.i-wode-on:before { content: "\e75d"; }

.i-wode:before { content: "\e75e"; }

.i-my:before { content: "\e664"; }

.i-yinhang:before { content: "\e605"; }

.i-ok:before { content: "\e66c"; }

.i-from-user:before { content: "\e624"; }

.i-quanbu:before { content: "\e681"; }

.i-room:before { content: "\e601"; }

.i-zhuan:before { content: "\e68e"; }

.i-ti:before { content: "\e603"; }

.i-from-home:before { content: "\e606"; }

.i-niu:before { content: "\e600"; }

.i-chong:before { content: "\e60a"; }

.i-zhadan:before { content: "\e67b"; }

.i-xingyun:before { content: "\e783"; }

.i-id:before { content: "\e61e"; }

.i-pass:before { content: "\e613"; }

.i-mobile:before { content: "\e615"; }

.i-user-id:before { content: "\e616"; }

.i-user:before { content: "\e614"; }

.i-zhifuhao:before { content: "\e684"; }

.i-xy-copy:before { content: "\e784"; }

.i-hb-copy:before { content: "\e785"; }
