<ion-view view-title="服务费返水提成" need-login hide-tabs="false">
   <ion-nav-bar class="bar-positive bar-header-black" align-title="center">
       <ion-nav-buttons>
            <button class="button button-clear" ui-sref="tab.account-proxy">返回</button>
        </ion-nav-buttons>
        
    </ion-nav-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新余额..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
		 
           <div class="list">
           <div class="weizhi">&nbsp;&nbsp;截至此时,累计服务费返水累计提成 【{{user.servicepoint}}】</div>
                <div class="menu2">
  <table width="100%" border="0" cellspacing="1" cellpadding="0">

    <tr>
      <td height="35" width="33%" align="center" valign="middle"   style="background-color: {{leveltag==1?'#222':''}}"    ui-sref="tab.account-proxy-servicepoint({level:1})">
      <span class="STYLE26">一级用户提成</span><br>
      <span class="en1">ONE LEVEL</span></td>
      <td align="center" width="34%" valign="middle"  style="background-color: {{leveltag==2?'#222':''}}"    ui-sref="tab.account-proxy-servicepoint({level:2})"><span class="STYLE26">二级用户提成</span><br>
      <span class="en1">TWO LEVEL</span></td>
      <td align="center" width="33%" valign="middle"  style="background-color: {{leveltag==3?'#222':''}}"    ui-sref="tab.account-proxy-servicepoint({level:3})"><span class="STYLE26">三级用户提成</span><br>
      <span class="en1">THREE LEVEL</span></td>
    </tr>
  </table>
</div>

<div class="yi-normal">
  <div>
      <table width="100%" border="0" cellpadding="0" cellspacing="1" class="rechargetalbe" >
        <tr>
          <td width="20%"   class="userinfo2">提成金额</td>
           <td width="20%"   class="userinfo2">房间ID</td>
          <td width="30%"   class="userinfo2">下级昵称</td>
          <td width="30%"   class="userinfo2">返水日期</td>
        </tr>
		
		<tr ng-if="records.length==0">
          <td  colspan="4" >没有记录! </td>
        </tr>
        <!-- 1 自动充值  2 代理上分 3 代理下分 -->
		<tr ng-repeat="r in records">
          <td    >{{r.water}} </td>
           <td    >-{{r.roomId}}</td>
            <td   >{{r.userId}}(ID:{{r.uid}})</td>
               
              <td >{{r.createDate}}&nbsp;</td>
        </tr>
      </table>
  </div>
</div>




            </div>
			
 
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!noMoreItemsAvailable">
    </ion-infinite-scroll>
    </ion-content>
</ion-view>