<!DOCTYPE html>
<!--<html manifest="gamechat.appcache">-->
<!-- 


 支持正版，授权冲突，格式化系统，后果自负。
iMax游戏爱好者全网独家提供 盗版必究 本代码仅限学习和研究使用 禁止非法用途 责任自负 与本站无关 禁止任何形式的转卖和再分发 监控自动删除
  定制化或者二次开发 联系qq：2035450966
 本站所有代码和资源仅限自用（研究和学习使用），禁止转卖和用于商业用途，所有责任自负，与本站无关。

 -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
     <meta name="description" content="所有代码和资源仅限自用（研究和学习使用），禁止非法商业用途，所有责任自负">
    <meta name="keywords" content="所有代码和资源仅限自用（研究和学习使用），禁止非法商业用途，所有责任自负">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <style type="text/css">
        body {
            display: none;
        }
    </style>
    <!-- 	<script>

    var hosttest= window.location.host;
	if(hosttest.indexOf("baidu.com")>-1)
	{
            window.location ="http://www.gov.cn";
	}
	</script> -->
<!-- <link href="//at.alicdn.com/t/font_zpgki2jzfnm9ggb9.css" rel="stylesheet"> -->
    <link href="/lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="/css1/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below eagle and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js
    <script src="lib/ionic/js/ionic.bundle.js"></script>-->

    <script src="/lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="/lib/ionic/js/ng-file-upload-all.min.js"></script>
    <script src="/lib/clipboard.min.js"></script>
    <script src="/lib/jquery-3.1.0.min.js"></script>
    <script src="/lib/jquery.qrcode.min.js"></script>
    <script src="/lib/reconnecting-websocket.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <!-- your app's js -->
    <script src="/js1/app.js"></script>
    <script src="/js1/controllers.js"></script>

    <script src="/js1/services.js"></script>
    <script src="/js1/directives.js"></script>
     <script>
   document.title =hometitle;
   
     </script>
</head>
<body ng-app="starter">
<!--
  The nav bar that will be updated as we navigate between views. imaxgame
-->
<!--<ion-nav-bar class="bar-stable">-->
<!--<ion-nav-back-button>-->
<!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->
<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html56 file if you'd like).
-->
<ion-side-menus>
    <ion-nav-view></ion-nav-view>
</ion-side-menus>

<div class="wx-tip" ng-if="tipShow" ng-style="{display: tipShow ? 'block' : 'none'}" ng-click="closeTip()">
    <img src="img/pay/in_wx_tip.png">
</div>
</body>
</html>