<ion-view view-title="联系我们">
    <ion-header-bar align-title="center" class="bar-positive bar-header-black">
        <div class="buttons">
            <button class="button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
        </div>
        <h1 class="title">联系我们</h1>
    </ion-header-bar>

    <ion-content scroll="true" overflow-scroll="true">
    <center><br/><br/><br/><br/><br/>
<img src="img/kf.png" style="max-width:80%;height:auto;">
</center> 
    <!--     <iframe ng-src=' ' class="width-100 height-100" style="min-width: 100%; min-height: 100%;" ></iframe> -->
    </ion-content>
</ion-view>
